@import "../variable.scss";
@import "src/style/base.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  @include media($tablet-landscape-up) {
    display: grid;
    grid-template-areas: "contents content options";
    grid-template-columns: 3.5rem 1.35fr 1fr;
  }
  height: 100%;
  overflow: hidden;
  & > div {
    background: $primary-white;
    @include media($tablet-landscape-up) {
      padding: 0.5rem 0.8rem;
    }
  }
  .dashboard__feeds {
    padding: 0;
    grid-area: contents;
  }
  .dashboard__content {
    overflow-y: scroll;
    grid-area: content;
    margin: 0 10px;
  }
  .dashboard__options {
    @include media($phone-only) {
      display: none;
    }
    grid-area: options;
  }
}
.create-class {
}

.feeds {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  @include media($tablet-landscape-up) {
    padding: 5rem 0;
  }
  @include media($tablet-landscape-up) {
    height: 100%;
    flex-direction: column;
  }
  box-shadow: 0.6rem 0 0.6rem #3333;
  .feeds__item {
    cursor: pointer;
    &:not(.active) {
      filter: grayscale(80%);
    }
    &.active {
      position: relative;
      &::after {
        border-radius: 0.3em;
        position: absolute;
        top: -0.2em;
        right: -0.6em;
        content: "";
        width: 0.35em;
        height: 2em;
        background: #099abe;
      }
    }
  }
}

.class {
  background: $highlight-blue;
  display: inline-block;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  display: flex;
  .class__logo {
    border-radius: 5px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.521);
  }
  .class__description > div {
    margin-left: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .class__title {
    font-weight: bold;
    font-size: 0.9rem;
  }

  .class__teacher_name {
    font-weight: 500;
    font-size: 0.6rem;
  }
  .class__code {
    display: none;
  }
  .class__options {
    margin-left: auto;
    display: flex;
    .icon {
      padding: 0.3em;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background: #3eb82e4d;
      cursor: pointer;
      margin: 0 0.3em;
    }
    // Todo
  }
}

.timeline-header {
  height: 20px;
  margin-right: 20px;
  max-width: 700px;
  background-color: #0a4c95;
}
.classes {
  margin-right: 20px;
  height: 110px;
  position: relative;
  background-color: gray;
  max-width: 700px;
  overflow-x: scroll;
  scrollbar-width: none;
  scrollbar-color: #0a4c95 #c2d2e4;
  &::-webkit-scrollbar {
    height: 6px;
  }

  // /* width */
  // ::-webkit-scrollbar {
  //   width: 10px;
  // }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #adadad;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(111, 153, 120);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(123, 172, 134);
  }


}
