@import "../variable.scss";
.dashboard {
  display: grid;
  grid-template-areas: "contents content options";
  grid-template-columns: 3.5rem 1.35fr 1fr;
  height: 100%;
  overflow: hidden;
  & > div {
    background: $primary-white;
    padding: 0.5rem 0.8rem;
  }
  .dashboard__feeds {
    padding: 0;
    grid-area: contents;
  }
  .dashboard__content {
    overflow-y: scroll;
    grid-area: content;
    margin: 0 10px;
  }
  .dashboard__options {
    grid-area: options;
  }
}
.create-class {
}

.feeds {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 0;
  flex-direction: column;
  box-shadow: 0.6rem 0 .6rem #3333;
  .feeds__item {
    cursor: pointer;
    &:not(.active) {
      filter: grayscale(80%);
    }
    &.active{
      position: relative;
      &::after{
        border-radius: 0.3em;
        position: absolute;
        top: -.2em;
        right: -0.6em;
        content: "";
        width: 0.35em;
        height: 2em;
        background: #099abe;
      }
    }
  }
}

.class {
  background: $highlight-blue;
  display: inline-block;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  display: flex;
  .class__logo {
    border-radius: 5px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.521);
  }
  .class__description > div {
    margin-left: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .class__title {
    font-weight: bold;
    font-size: 0.9rem;
  }

  .class__teacher_name {
    font-weight: 500;
    font-size: 0.6rem;
  }
  .class__code {
    display: none;
  }
  .class__options {

    margin-left: auto;
    display: flex;
    .icon{
      padding: .3em;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background: #3eb82e4d;
      cursor: pointer;
      margin: 0 .3em;
    }
    // Todo
  }
}

.timeline-header {
  height: 20px;
  margin-right: 20px;
  max-width: 700px;
  background-color: #0a4c95;
}
.classes {
  margin-right: 20px;
  height: 110px;
  position: relative;
  background-color: gray;
  max-width: 700px;
  overflow-x: scroll;
  scrollbar-width: none;
  scrollbar-color: #0a4c95 #c2d2e4;
  &::-webkit-scrollbar {
    height: 6px;
  }

  // /* width */
  // ::-webkit-scrollbar {
  //   width: 10px;
  // }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #adadad;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(111, 153, 120);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(123, 172, 134);
  }

  .timeline {
    background-color: #49399a44;
    width: 100%;
    height: 100%;
    min-width: calc(48 * 80px);
    user-select: none;
    .class-items {
      // position: absolute;
      // top: 0;
      width: 70px;
      height: 100%;
      border-radius: 3px;
      background-color: lightgreen;
    }
    .lines {
      top: 0;
      left: 0;

      height: 100%;
      position: absolute;
      width: 100%;
      // margin-right: 500px;
      .line {
        left: 10px;
        padding: 2px;
        position: absolute;
        word-wrap: 0;
        white-space: nowrap;
        // width: 70px;
        height: 100%;
        font-size: 10px;
        color: #383838;

        &:not(:first-child) {
          border-left: 1px dashed rgb(71, 71, 71);
        }
        &.active {
          border-left-color: red;
        }
      }
    }
  }
}
