form{
  text-align: left;
  background-color: #efefef;
  margin: 5px;
  padding: 5px;
  h2{
    margin-left: 10px;
  }
.input-group{
  display: grid;
  margin: 10px;
  align-items: center;
  grid-template-columns: 150px 200px;
  p{
    display: inline;
    margin-right: 20px;

    &.error-msg{
      font-size: 0.76rem;
      color: #ef3333;
    }
  }
}
input{
  padding: 5px;
  height: 2rem;
  outline: none;
  border: 1px solid #202020;

  &[type="submit"]{
    margin-left: 10px;
    background-color: #653012;
    // border-radius: 5px;
    color: #dfdfdf;
    width: 100px;
    border: none;
    cursor: pointer;
  }
}
}