@import './variable.scss';
:root {
  --c-highlight-blue: #99bbd7ab;
  --c-highlight-pink: #db8ecfab;
  --c-highlight-violet: #9591d9ab;
  --c-highlight-orenge: #da9e9aab;
  --c-highlight-yellow: #d8bf89ab;
  --c-primary-black: #131313;
  --c-primary-white: #f1f1f1;
  --c-primary-grey: #6b6b6b;
  --c-global-background: #cfcfcf;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--c-global-background);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
button {

  padding: .2rem .5rem;
  cursor: pointer;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
