
$highlight-blue: var(--c-highlight-blue);
$highlight-pink: var(--c-highlight-pink);
$highlight-violet: var(--c-highlight-violet);
$highlight-orenge: var(--c-highlight-orenge);
$highlight-yellow: var(--c-highlight-yellow);
$primary-black: var(--c-primary-black);
$primary-white: var(--c-primary-white);
$primary-grey: var(--c-primary-grey);
$global-background: var(--c-global-background);
